<!DOCTYPE html>
<html>

<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">DMS_UZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>

<body>
    <div th:replace="fragments/header :: header"> Header from Layout</div>
    <div th:replace="fragments/nav :: nav"> Nav from Layout</div>

    <div class="container">
        <div class="row">
            <div class="col-2" layout:fragment="sidebar">
                <h1>You see This layout's sidebar because ?????????????? </h1>
            </div>

            <div class="col" layout:fragment="content">
                <h1>You see This Layout's main section because ?????????????? </h1>>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" class="footer">
        Footer from Layout
    </div>
</body>
</html>










<!--<!DOCTYPE html>-->
<!--&lt;!&ndash;<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"&ndash;&gt;-->
<!--&lt;!&ndash;      xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->
<!--<html>-->
<!--<head>-->
<!--    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Igorski.co</title>-->
<!--&lt;!&ndash;    <title>Layout page</title>&ndash;&gt;-->
<!--    <script src="common-script.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments/header :: header"> This header content is going to be replaced.</div>-->
<!--<header>-->
<!--    <h1>My website</h1>-->
<!--</header>-->
<!--<section layout:fragment="content">-->
<!--    <p>Page content goes here</p>-->
<!--</section>-->
<!--<footer>-->
<!--    <p>My footer</p>-->
<!--&lt;!&ndash;    <div layout:insert="~{fragments/footer :: footer(title='Greetings')}">&ndash;&gt;-->
<!--&lt;!&ndash;        <p layout:fragment="modal-content">Hi there! 👋</p>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div layout:include="~{fragments}"></div>&ndash;&gt;-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->