<!DOCTYPE html>
<html>

<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">DMS_UZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>

<body>
    <div th:replace="fragments/header :: header" class="header"> Header from Layout</div>
    <div th:replace="fragments/nav :: nav" class="nav"> Nav from Layout</div>

    <div class="container">
        <div class="row">
            <div class="col-2" layout:fragment="sidebar">
                <h1>You see This layout's sidebar because ?????????????? </h1>
            </div>

            <div class="col" layout:fragment="content">
                <h1>You see This Layout's main section because ?????????????? </h1>>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" class="footer">Footer from Layout</div>
</body>
</html>