<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
</head>

<body>
STATIC
<div class="container">

    <div id="lines">
        <ol class="list-unstyled"></ol>
    </div>

</div>

<!--Template-->
<!--
    <%= key %> - выводим значение "как есть"
    <%- item.name %> - экранируем значение
-->

<script type="foo/bar" id='tmpl_ListItem'>
    <table border="1">
        <tr>
            <th><a href='/devs?sort=id'>index</a></th>
            <th><a href='/devs?sort=id'>Device Id</a></th>
            <th><a href='/devs?sort=sDev.grid'>Grid</a></th>
        </tr>


    <% _.each(content,function(value,index){ %>
        <tr>
            <td><%- index %></td>
            <td><%- value.id %></td>
            <td><%- value.sdev.grid %></td>
        </tr>

    <h2>
    <% }) %>



    </table>

</script>
<!--Template-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
<script src="js/underscore-umd.js" ></script>
<script src="js/main.js" ></script>

</body>
</html>
