<!--Dev Template-->

<p id="item_on_page_output">Items on page 30</p>

<input type="range" id="range_item_on_page" min="10" max="50" step="10" value="30">
<br>
<div id="page_navigation" class="page_navigations">
    <input type="button" id="btn_first_page" class="btns_first_page" value="<<">
    <input type="button" id="btn_prev_page" class="btns_prev_page" value="<">
    <input type="text" id="input_find_page" class="inputs_find_page" value="<%- contentData.number+1 %> out of <%- contentData.totalPages %>">
    <input type="button" id="btn_next_page" class="btns_next_page" value=">">
    <input type="button" id="btn_last_page" class="btns_last_page" value=">>">
</div>

<table border="1">
    <thead>
    <tr>
        <th>
            <h4>index</h4>
        </th>
        <th>
            <h4>Device Id</h4>
            <input type="text" id="filter_byId">
            <input type="button" id="sort_byId">
        </th>
        <th>
            <h4>Grid</h4>
            <input type="text" id="filter_byGrid">
            <input type="button" id="sort_byGrid">
        </th>
    </tr>
    </thead>

    <tbody id="sub_template">
    <!--start_sub_template-->
    <% _.each(contentData.content,function(value,index){ %>
    <tr>
        <td><%- index+1 %></td>
        <td><%- value.id %></td>
        <td><%- value.sdev.grid %></td>
    </tr>
    <% }) %>
    <!--end_sub_template-->
    </tbody>
</table>

<br>
<div id="bottom_page_navigation" class="page_navigations">
    <input type="button" id="bottom_btn_first_page" class="btns_first_page" value="<<">
    <input type="button" id="bottom_btn_prev_page" class="btns_prev_page" value="<">
    <input type="text" id="bottom_input_find_page" class="inputs_find_page" value="<%- contentData.number+1 %> out of <%- contentData.totalPages %>">
    <input type="button" id="bottom_btn_next_page" class="btns_next_page" value=">">
    <input type="button" id="bottom_btn_last_page" class="btns_last_page" value=">>">
</div>
