<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
<head>
  <title>Admin</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-2" layout:fragment="sidebar">
      <h1>Sidebar of Admin page</h1>
    </div>
    <div class="col" layout:fragment="content">
      <div>
        <table>
          <thead>
          <th>ID</th>
          <th>UserName</th>
          <th>Password</th>
          <th>Roles</th>
          </thead>

          <th:block th:each="user : ${allUsers}">
            <tr>
              <td th:utext="${user.id}"></td>
              <td th:utext="${user.username}"></td>
              <td th:utext="${user.password}"></td>
              <td>
                <th:block th:each="role : ${user.roles}">
                  <div th:utext="${role.name}"></div>
                </th:block>
              </td>
              <td>
                <form action="#" th:action="@{/admin}" method="post">
                  <input type="hidden" name="userId" th:value="${user.id}"/>
                  <input type="hidden" name="action" value="delete"/>
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
          </th:block>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="fragments/head :: head(title='Admin')"></head>-->

<!--<body>-->
<!--<div>-->
<!--  <table>-->
<!--    <thead>-->
<!--      <th>ID</th>-->
<!--      <th>UserName</th>-->
<!--      <th>Password</th>-->
<!--      <th>Roles</th>-->
<!--    </thead>-->

<!--    <th:block th:each="user : ${allUsers}">-->
<!--      <tr>-->
<!--        <td th:utext="${user.id}"></td>-->
<!--        <td th:utext="${user.username}"></td>-->
<!--        <td th:utext="${user.password}"></td>-->
<!--        <td>-->
<!--          <th:block th:each="role : ${user.roles}">-->
<!--            <div th:utext="${role.name}"></div>-->
<!--          </th:block>-->
<!--        </td>-->
<!--        <td>-->
<!--          <form action="#" th:action="@{/admin}" method="post">-->
<!--            <input type="hidden" name="userId" th:value="${user.id}"/>-->
<!--            <input type="hidden" name="action" value="delete"/>-->
<!--            <button type="submit">Delete</button>-->
<!--          </form>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </th:block>-->
<!--  </table>-->
<!--  <a href="/">Главная</a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->