<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Log in with your account</title>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div>
  <table>
    <thead>
      <th>ID</th>
      <th>UserName</th>
      <th>Password</th>
      <th>Roles</th>
    </thead>

    <th:block th:each="user : ${allUsers}">
      <tr>
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.password}"></td>
        <td>
          <th:block th:each="role : ${user.roles}">
            <div th:utext="${role.name}"></div>
          </th:block>
        </td>
        <td>
          <form action="#" th:action="@{/admin}" method="post">
            <input type="hidden" name="userId" th:value="${user.id}"/>
            <input type="hidden" name="action" value="delete"/>
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    </th:block>
  </table>
  <a href="/">Главная</a>
</div>
</body>
</html>