<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
<head>
    <title>Приборы</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-2" layout:fragment="sidebar">
            <h1>Sidebar of devs page</h1>
        </div>
        <div class="col" layout:fragment="content">
            <h1>CONTENT of devs page</h1>
            <table border="1">
                <tr>
                    <th><a href='/devs?sort=idObj'>id_obj</a></th>
                    <th><a href='/devs?sort=sDev.dtype'>devid</a></th>
                    <th><a href='/devs?sort=num'>num</a></th>
                    <th><a href='/devs?sort=myear'>myear</a></th>
                    <th><a href='/devs?sort=ps'>ps</a></th>
                    <th><a href='/devs?sort=dCreate'>d_create</a></th>
                    <th><a href='/devs?sort=id'>id</a></th>
                    <th><a href='/devs?sort=dNkip'>d_nkip</a></th>
                    <th><a href='/devs?sort=dTkip'>d_tkip</a></th>
                    <th><a href='/devs?sort=tZam'>t_zam</a></th>
                    <th><a href='/devs?sort=dObjRtu.id'>obj_code</a></th>
                    <th><a href='/devs?sort=detail'>detail</a></th>
                </tr>
                <tr th:each ="dev : ${devs}">
                    <td th:utext="${dev.idObj}">...</td>
                    <td th:utext="${dev.sDev.dtype}">...</td>
                    <td th:utext="${dev.num}">...</td>
                    <td th:utext="${dev.myear}">...</td>
                    <td th:utext="${dev.ps}">...</td>
                    <td th:utext="${dev.dCreate}">...</td>
                    <td th:utext="${dev.id}">...</td>
                    <td th:utext="${dev.dNkip}">...</td>
                    <td th:utext="${dev.dTkip}">...</td>
                    <td th:utext="${dev.tZam}">...</td>
                    <td th:if='${dev.dObjRtu.nameObj}' th:utext="${dev.dObjRtu.nameObj}">...</td>
                    <td th:if='${dev.dObjRtu.name}' th:utext="РТУ---+${dev.dObjRtu.name}">...</td>
                    <td th:utext="${dev.detail}">...</td>
                </tr>
            </table>

            <!-- Pagination Bar -->
            <div th:replace="fragments/paginationbar :: paginationbar" class="paginationbar">Paginationbar from Layout</div>

        </div>
    </div>
</div>
</body>
</html>