<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
<head>
    <title>Приборы</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-2" layout:fragment="sidebar">
            <h1>Sidebar of devs page</h1>
        </div>
        <div class="col" layout:fragment="content">
            <h1>CONTENT of devs page</h1>
            <table border="1">
                <tr>
                    <th><a href='/devs?sort=id'>Device Id</a></th>
                    <th><a href='/devs?sort=sDev.grid'>Grid</a></th>
                    <th><a href='/devs?sort=sDev.dtype'>Type</a></th>
                    <th><a href='/devs?sort=num'>Number</a></th>
                    <th><a href='/devs?sort=myear'>Year</a></th>
                    <th><a href='/devs?sort=dTkip'>Test date</a></th>
                    <th><a href='/devs?sort=tZam'>Period</a></th>
                    <th><a href='/devs?sort=dNkip'>Next test date</a></th>
                    <th><a href='/devs?sort=detail'>Device Detail</a></th>
                    <th><a href='/devs?ps=31&sort=ps'>Status</a></th>
                    <th><a href='/devs?sort=dObjRtu.id'>Object</a></th>

                    <th><a href='/devs?sort=idObj.region'>Region</a></th>
                    <th><a href='/devs?sort=idObj.locate'>Locate</a></th>
                    <th><a href='/devs?sort=idObj.nplace'>Place</a></th>
                    <th><a href='/devs?sort=idObj.nshem'>Description</a></th>
                    <th><a href='/devs?sort=idObj.regionT'>Region Type</a></th>
                    <th><a href='/devs?sort=idObj.locateT'>Locate Type</a></th>
                    <th><a href='/devs?sort=idObj.detail'>Place Detail</a></th>
                </tr>
                <tr th:each ="dev : ${devs}">
                    <td th:text="${dev?.id}">...</td>
                    <td th:text="${dev?.sDev?.grid}">...</td>
                    <td th:text="${dev?.sDev?.dtype}">...</td>
                    <td th:text="${dev?.num}">...</td>
                    <td th:text="${dev?.myear}">...</td>
                    <td th:text="${dev?.dTkip}">...</td>
                    <td th:text="${dev?.tZam}">...</td>
                    <td th:text="${dev?.dNkip}">...</td>
                    <td th:text="${dev?.detail}">...</td>
                    <td th:text="${dev?.ps}">...</td>
                    <td th:text="${dev.dObjRtu.nameObj} ?: ${dev.dObjRtu.name}" />

                    <td th:text="${dev?.idObj?.region}"></td>
                    <td th:text="${dev?.idObj?.locate}"></td>
                    <td th:text="${dev?.idObj?.nplace}"></td>
                    <td th:text="${dev?.idObj?.nshem}"></td>
                    <td th:text="${dev?.idObj?.regionT}"></td>
                    <td th:text="${dev?.idObj?.locateT}"></td>
                    <td th:text="${dev?.idObj?.detail}"></td>

                </tr>
            </table>

            <!-- Pagination Bar -->
            <div th:replace="fragments/paginationbar :: paginationbar" class="paginationbar">Paginationbar from Layout</div>

        </div>
    </div>
</div>
</body>
</html>