<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
<head>
    <title>Приборы</title>
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-2" layout:fragment="sidebar">
                <h1>Sidebar of devs page</h1>
            </div>

            <div class="col" layout:fragment="content">
                <h1>CONTENT of devs page</h1>
                <div id="lines">
                    <ol class="list-unstyled"></ol>
                </div>
            </div>

        </div>
    </div>

    <script type="foo/bar" id='tmpl_ListItem'>
        <%
            _.each(items,function(oToDo, key, list){
                var sDone = oToDo.done?'checked="checked" ':'';
        %>

        <li data-id="<%= oToDo.id %>">
                <div class="itm">
                    <input class="cbDone" type="checkbox" <%= sDone %>/>
                    <input class="form-control" type="text" value="<%- oToDo.text %>" />
                </div>
        </li>

        <%
            });
        %>
    </script>
    <!--Template-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/underscore-umd.js" ></script>
    <script src="/static/js/main.js" ></script>
</body>
</html>