<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
<head>
  <title>Вход</title>
</head>

<body>
  <div class="container">
    <div class="row">

      <div class="col-2" layout:fragment="sidebar">
        <h1>Sidebar of Login page</h1>
      </div>

      <div class="col" layout:fragment="content">
        <div>
          <form method="POST" action="/login">
            <h4>Вход в систему</h4>
            <div>
              <input name="username" type="text" placeholder="Username"
                     autofocus="true"/>
              <input name="password" type="password" placeholder="Password"/>
              <button type="submit">Log In</button>
              <h4><a href="/registration">Зарегистрироваться</a></h4>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</body>
</html>