<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Регистрация</title>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div>
    <form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">
      <h2>Регистрация</h2>
      <p>Name: <input type="text" th:field="*{username}" placeholder="Username" /></p>
      <p>Password: <input type="password" th:field="*{password}" placeholder="Password" /></p>
      <p>Confirm your password: <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm your password" /></p>
      <p><button type="submit">Зарегистрироваться</button></p>
    </form>
    <a href="/">Главная</a>
  </div>
</body>
</html>