<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
<head>
  <title>Регистрация</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-2" layout:fragment="sidebar">
      <h1>Sidebar of registration page</h1>
    </div>
    <div class="col" layout:fragment="content">
      <div>
        <form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">

          <h2>Регистрация</h2>

          <div class="form-group">
            <label for="username">Name</label>
            <input class="form-control" id="username" type="text" th:field="*{username}" placeholder="Username" />
            <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" th:field="*{password}" placeholder="Password" />
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
          </div>

          <div class="form-group">
            <label for="password-confirm">Confirm your password</label>
            <input class="form-control" id="password-confirm" type="password" th:field="*{passwordConfirm}" placeholder="Confirm your password" />
            <div class="alert alert-warning" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
          </div>

          <div class="form-group">
            <button class="form-control" type="submit">Зарегистрироваться</button>
          </div>

        </form>
        <a href="/">Главная</a>
        <h4><a href="/login">Войти</a></h4>
      </div>
    </div>
  </div>
</div>
</body>
</html>
